@model Product
<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPrice"></label>
        <input asp-for="DiscountPrice" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="DiscountPrice"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExTax"></label>
        <input asp-for="ExTax" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="ExTax"></span>
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" class="form-control" placeholder="Enter category name">
        <span class="text-danger" asp-validation-for="Count"></span>
    </div>
    <div class="form-group">
        <label asp-for="Seria"></label>
        <input asp-for="Seria" class="form-control">
        <span class="text-danger" asp-validation-for="Seria"></span>
    </div>
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control">
        <span class="text-danger" asp-validation-for="Code"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsBestSeller"></label>
        <input asp-for="IsBestSeller" class="form-control">
        <span class="text-danger" asp-validation-for="IsBestSeller"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsFeatured"></label>
        <input asp-for="IsFeatured" class="form-control">
        <span class="text-danger" asp-validation-for="IsFeatured"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsNewArrival"></label>
        <input asp-for="IsNewArrival" class="form-control">
        <span class="text-danger" asp-validation-for="IsNewArrival"></span>
    </div>
    <div id="fileInput" class="form-group">
        <label asp-for="MainPhoto"></label>
        <input asp-for="MainPhoto" class="form-control" accept="image/*">
        <span class="text-danger" asp-validation-for="MainPhoto"></span>
    </div>
    <div id="fileInput" class="form-group">
        <label asp-for="HoverPhoto"></label>
        <input asp-for="HoverPhoto" class="form-control" accept="image/*">
        <span class="text-danger" asp-validation-for="HoverPhoto"></span>
    </div>
    <div id="fileInput" class="form-group">
        <label asp-for="Photos"></label>
        <input asp-for="Photos" class="form-control" accept="image/*">
        <span class="text-danger" asp-validation-for="Photos"></span>
    </div>
    <div class="form-group">
        <label asp-for="BrandId"></label>
        <select asp-for="BrandId">
            @foreach (Brand brand in ViewBag.Brands)
            {
                <option value="@brand.Id">@brand.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="BrandId"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId">
            @foreach (Category category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagIds"></label>
        <select asp-for="TagIds">
            @foreach (Tag tag in ViewBag.Tags)
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="TagIds"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>