@model PaginationVM<Product>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Products Table</h1>

<a class="btn btn-primary mt-4 mb-4" href="/manage/product/create">Create a product</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Products</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Created At</th>
                        <th>Count</th>
                        <th>Price</th>
                        <th>Brand Name</th>
                        <th>Category Name</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>
                                <img width="100" height="100" src="~/assets/images/product/@product.MainImage" alt="@product.Name" />
                            </td>
                            <td>@product.Name</td>
                            <td>@product.CreatedAt.ToShortDateString()</td>
                            <td>@product.Count</td>
                            <td>$@(product.DiscountPrice > 0 ? product.DiscountPrice : product.Price)</td>
                            <td>@product.Brand.Name</td>
                            <td>@product.Category.Name</td>
                            <td>
                                <a class="btn btn-secondary" href="/manage/product/update/@product.Id">update</a>
                                <a class="btn btn-secondary" href="/manage/product/delete/@product.Id">delete</a>
                                <a class="btn btn-secondary" href="/manage/product/detail/@product.Id">detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @await Html.PartialAsync("_PaginationPartial")
</div>
